.container {
    background-color: #53c28b;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 22px;
}